.main-nav{
    background: white;
    box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    border-radius: 20px;
    justify-content: center;
}

.main-nav ul li:first-child{
    background: var(--primary);
    padding: 15px 15px;
    border-radius: 10px;
}

.main-nav ul{
    list-style: none;
}

.main-nav ul li{
    display: inline-block;
    padding: 15px 15px;
    transition: 250ms ease-in-out;
}

.main-nav ul li a{
    font-size: 17px;
    color: var(--dark);
    text-decoration: none;
}

.main-nav li:hover{
    background: var(--primary);
    border-radius: 10px;
}